{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Profil organisateur¨{% endblock %}

{% block body %}
    <div class="row pt-3 display-6 justify-content-center">Profil organisateur</div>
    <div class="row pt-5 user-view-eni">
    </div>
{% endblock %}
