body {
    margin: 0px;
    padding: 0px;
    background-color: #011f39;
    color: white;
}

.header-eni {
    background-color: white;
    color: #011f39;
    margin: auto;
    padding: 10px 20px;
}

.header-eni .content {
    max-width: 1200px;
    margin: auto;
}

.header-eni a {
    text-decoration: none;
    color: #95b258;
}

.login-eni {
    max-width: 450px;
    min-height: 500px;
    margin: auto;
    padding: 10px 20px;
}

.login-eni a {
    color: #95b258;
}

.login-eni button {
    background-color: #95b258;
    border-color: #95b258;
}

.user-eni {
    max-width: 800px;
    margin: auto;
    padding: 10px 20px;
}

.user-eni button {
    background-color: #95b258;
    border-color: #95b258;
}

img {
    border-radius: 3%;
}

.main-eni {
    max-width: 1200px;
    margin: auto;
    padding: 10px 20px;
}

.main-eni a {
    text-decoration: none;
    color: #95b258;
}

.main-eni button {
    background-color: #95b258;
    border-color: #95b258;
}

#organizers a {
    color: dodgerblue;
}

.output-eni {
    max-width: 800px;
    margin: auto;
    padding: 10px 20px;
}